@using QFRMS.Data.DTOs
@model Login
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Basecode.Main.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="row">
                <img src="~/images/QF_Logo.png" class="logo"/>
            </div>
        </div>
        <div class="row">
            <div class="login-container col-5 mx-auto">
                <form asp-action="Login" method="post">
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group d-flex justify-content-center mb-0">
                        <button type ="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - Quilantang Farms Insitute Record Management System
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}