@using Microsoft.AspNetCore.Identity
@using QFRMS.Data.Models
@inject SignInManager<UserAccount> signInManager
@inject UserManager<UserAccount> userManager


@if (signInManager.IsSignedIn(User))
{
    var user = await userManager.GetUserAsync(User);
    var role = (user != null) ? userManager.GetRolesAsync(user).Result.FirstOrDefault() : "Anonymous User";
    var fullName = (user != null) ? $"{user!.FirstName} {user.MiddleName![0]}. {user.LastName} {user.ExtensionName}" : "Guest";
    <span>@fullName - @role</span>
}
else
{
    <span>&nbsp;</span>
}

