<div class="modal fade" id="currentMemo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="currentMemoLabel" aria-hidden="true">
    <div class="modal-dialog memoModal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="currentMemoAdminLabel">Memo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body memoModal">
                <iframe src="@($"{Url.Action("DownloadMemo","Memo")}#toolbar=0&navpanes=0&scrollbar=1&view=fitH")" class="memo-modal-montainer" frameborder="0" id="memoFrame" />
            </div>
        </div>
    </div>
</div>