@using QFRMS.Data.Models
@model Course
@{
    ViewData["Title"] = "Edit Course";
}
<div class="page-header mx-auto">
    <div class="header">
        <img src="~/icons/building.svg" class="header-icon" />
        <h2 class="header-title">COURSES</h2>
    </div>
    <div class="header-hr"></div>
</div>
<h2 class="page-banner">EDIT COURSE</h2>
<div class="page-body mx-auto">
    <div class="row body-header title">
        <div class="col d-flex justify-content-start align-items-center">
            <h4 class="body-title">Course Detail</h4>
            <p class="required-message required">Please fill-up the Mandatory Fields</p>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <a class="nav-link btn btn-back no-glow" asp-area="" asp-controller="Course" asp-action="Details" asp-route-Id="@Model.Id">
                <img src="~/icons/back.svg" class="icons" />
                Back
            </a>
        </div>
    </div>
    <form asp-action="EditCourse" method="post" id="form" class="form">
        <input asp-for="Id" type="hidden" value="@Model.Id"/>
        <div asp-validation-summary="ModelOnly" class="row text-center text-danger" role="alert"></div>
        <div class="row mt-2">
            <div class="col-8 pe-0">
                <div class="form-group">
                    <label asp-for="ProgramTitle" class="control-label required"></label>
                    <input asp-for="ProgramTitle" class="form-control" />
                </div>
                <span asp-validation-for="ProgramTitle" class="row text-center text-danger"></span>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="COPRNo" class="control-label required"></label>
                    <input asp-for="COPRNo" class="form-control" />
                </div>
                <span asp-validation-for="COPRNo" class="row text-center text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-5 pe-0">
                <div class="form-group">
                    <label asp-for="Sector" class="control-label required"></label>
                    <input asp-for="Sector" class="form-control" />
                </div>
                <span asp-validation-for="Sector" class="row text-center text-danger"></span>
            </div>
            <div class="col-5 pe-0">
                <div class="form-group">
                    <label asp-for="DeliveryMode" class="control-label required"></label>
                    <input asp-for="DeliveryMode" class="form-control" />
                </div>
                <span asp-validation-for="DeliveryMode" class="row text-center text-danger"></span>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="Status" class="control-label required"></label>
                    <input asp-for="Status" class="form-control" />
                </div>
                <span asp-validation-for="Status" class="row text-center text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-5 pe-0">
                <div class="form-group">
                    <label asp-for="ScholarshipType" class="control-label required"></label>
                    <input asp-for="ScholarshipType" class="form-control" />
                </div>
                <span asp-validation-for="ScholarshipType" class="row text-center text-danger"></span>
            </div>
            <div class="col-5 pe-0">
                <div class="form-group">
                    <label asp-for="ClientClassification" class="control-label required"></label>
                    <input asp-for="ClientClassification" class="form-control" />
                </div>
                <span asp-validation-for="ClientClassification" class="row text-center text-danger"></span>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="Duration" class="control-label required"></label>
                    <input asp-for="Duration" class="form-control" placeholder="in-hours" />
                </div>
                <span asp-validation-for="Duration" class="row text-center text-danger"></span>
            </div>
        </div>
        <div class="row form-footer">
            <div class="col d-flex justify-content-center">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}