@using QFRMS.Services.Utils
@using QFRMS.Data.Models

@model HomePageArticlesVideo

<!-- Modal -->
<div class="modal fade" id="delete-@Model.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content page-body bg-white">
            <form asp-action="DeleteArticleVideo" method="post">
                <input asp-for="Id" type="hidden"/>
                <div class="modal-header body-header p-2">
                    <h4 class="body-title" id="deleteModalLabel">Delete @(Model.Id == "1" ? "Video" : "Article")?</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body body-header">
                    <h5>Are you sure you want to delete this @(Model.Id == "1" ? "Video": "Article")?</h5>
                </div>
                <div class="modal-footer form-footer m-0 p-0 pt-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>