@{
    ViewData["Title"] = "Home";

    ViewData["Title"] = "Dashboard";
    bool hasSeenMemo = true; // by default no memo will be shown
    if (ViewData["HasSeenMemo"] != null)
    {
        hasSeenMemo = (bool)ViewData["HasSeenMemo"]!;
    }
}

<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">

    </div>
</div>
<div id="modalDiv"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var hasSeenMemo = @(hasSeenMemo ? "true" : "false" ?? "true");
            if (hasSeenMemo == false) {
                $.ajax({
                    type: "Get",
                    url: "/Memo/DisplayMemoModal",
                    async: true,
                    success: function (result) {
                        $("#modalDiv").html(result);
                        $("#currentMemo").modal('show');
                    }
                })
            }
        });
    </script>
}